.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 24px;
  padding: 24px 40px;
}

.grid-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 24px;
  padding: 28px;
}

.my-cards-grid {
  grid-column: span 8;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.recent-transactions {
  grid-column: 9 / 13;
  border-radius: 24px;
}

/* ! Temporary */
.recent-transactions-div {
  height: 235px;
  width: 100%;
  background-color: white;
  border-radius: 24px;
}

.weekly-activity {
  grid-column: span 8;
}

.expense-statistics {
  height: 322px;
  grid-column: 9 / 13;
  background-color: white;
  border-radius: 24px;
}

.quick-transfer {
  height: 276px;
  grid-column: span 5;
  background-color: white;
  border-radius: 24px;
}

.balance-history {
  height: 276px;
  grid-column: 6 / 13;
  background-color: white;
  border-radius: 24px;
}
